* {
    margin: 0;
    padding: 2%;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #ff7979, #bdc3c7);
    min-height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    margin: 10px 0;
    text-align: center;
}

#taskName, #taskDescription, #taskPriority {
    margin: 1%;
    width: 25%;
    border: none;
    border-bottom: 2px solid #000;
    background: none;
    padding: 5px;
    outline: none;
    font-size: 18px;
}


::placeholder {
    color:#353b48;
}

.addButton {
    width: 15%;
    padding: 7px;
    margin-left: 2%;
	border-radius:5px;
    border:1px solid #566963;
    color: #fff;
    background-color:#487eb0;
    font-size: 18px;
}

.sort {
    width: 15%;
    padding: 7px;
    margin-left: 2%;
	border-radius:5px;
    border:1px solid #566963;
    color: #000;
    background-color: #dff9fb;
    font-size: 13px;
}

ul {
    list-style: none;
    margin-top: 3%;
    width: 100%;
}

li {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 6px 0;
    overflow: hidden;
    border-radius: 5px;
}

li button {
    float: right;
    padding: 5px;
    margin: 1%;
    border-radius:5px;
    border:1px solid #566963;
    font-size: 13px;
}

li input {
    margin: 1%;
}

.checkbox:checked + label {
    color:red;
    text-decoration: line-through;
  } 

.sortSelect {
    margin: 1%;
    width: 25%;
    border: none;
    border-bottom: 2px solid #353b48;
    background: none;
    padding: 5px;
    outline: none;
    font-size: 15px;
    color: #353b48;
}